<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mapbox.vision.teaser">

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- TODO `requestLegacyExternalStorage` is temp solution for Android 10 support
        if telemetry saved sessions are located not in external app directory but somewhere on SD card.
        It will be removed in Android 11 completely -->

    <application
        android:name=".TeaserApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name="com.mapbox.vision.teaser.MainActivity"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ar.ArMapActivity"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ar.ArNavigationActivity"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".replayer.ArReplayNavigationActivity"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>

    </application>

</manifest>
